'scopeName': 'source.gfl-log'
'name': 'GFL Log'

'patterns': [
  {
    'match': '^(.*)(:|：)'
    captures:
      1:
        'patterns': [
          {
            'match': '[-\\p{L}\\d ?？]*\\(\\d*\\)'
            'name': 'char-art'
          }
          {
            'match': '(<Speaker>)(.*)(</Speaker>)'
            captures:
              1: name: 'meta'
              2: name: 'speaker'
              3: name: 'meta'
          }
      ]
      2: name: 'meta'
    'name': 'meta'
  }
]
