# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.gfl-log'
'name': 'GFL Log'
'fileTypes': [
  'txt'
]

'firstLineMatch': '^(.*\\(\\d*\\))+(;.*\\(\\d*\\))*.*||.*[：:].*$'

'patterns': [
  {
    'match': '^(.*\\(\\d*\\))+(;.*\\(\\d*\\))*'
    'name': 'char-art'
  }
  {
    'match': '(<Speaker>)(.*)(</Speaker>)'
    captures:
      1: name: 'meta'
      2: name: 'speaker'
      3: name: 'meta'
  }
  {
    'match': '[|：:]|<BIN>\\d*</BIN>|<BGM>.*</BGM>|<SE\\d*>.*</SE\\d*>|<Speaker>|<黑屏\\d*>|<通讯框>'
    'name': 'meta'
  }
]
